In [ ]:
# Write a code to reverse a string

name = 'pwskills'
rev_name = name[::-1]
rev_name

'sllikswp'

In [ ]:
#Write a code to count the number of vowels in a string
vowels = ["a", "e", "i","o", "u"]
vowels_in_string = 0
for char in name:
  if char in vowels:
    vowels_in_string+=1

vowels_in_string

1

In [ ]:
# Write a code to check if a given string is a palindrome or not

user_input = input("Please enter the word here ")
rev_user_input = user_input[::-1]
if user_input == rev_user_input:
  print(f"{user_input} it is an palindrome")
else:
   print(f"{user_input} it is not an palindrome")

Please enter the word herehi
hi it is not an palindrome

In [ ]:
#Write a code to check if two given strings are anagrams of each other
first_string = input("Please enter the first word here ")
second_string = input("Please enter the second word here ")

first_string = first_string.replace(" ","")
second_string = second_string.replace(" ","")
if len(first_string) == len(second_string):
    print(f"The {first_string} and {second_string} are anagrams")
else:
    print(f"The {first_string} and {second_string} are not anagrams")

Please enter the first word here listen
Please enter the second word here silent
The listen and silent are anagrams

In [ ]:
#Write a code to find all occurrences of a given substring within another string
main_string = input('Enter the main string ')
substring = input('Enter the substring string ')

occurrences = []
start = 0
while True:
  start = main_string.find(substring, start)
  if start == -1:
    break
  occurrences.append(start)
  start += 1
print(occurrences)

[0, 7]

In [ ]:
#Write a code to perform basic string compression using the counts of repeated characters

m = input("please enter a word")
n=""
char = 1
for i in m:
  if i not in n:
    n +=i
  else:
    if n[-1] == i:
      char +=1
      d = str(char)
      n+=d
      char = int(1)
    else:
      n +=i
print(n)

pw2skil2a2s

In [ ]:
#Write a code to determine if a string has all unique characters
m = input("please enter a word ")
m_strip = m.replace(" ","")
n = ""
for i in m_strip:
  if i not in n:
    n+=i
  else:
    print("please enter unique characters")

please enter a wordads

In [ ]:
#Write a code to convert a given string to uppercase or lowercase
m = input("please enter a word ")
d = m.upper()
print(d)

please enter a word pwskills
PWSKILLS

In [ ]:
#Write a code to count the number of words in a string
m = input("please enter a word ")
d = len(m)
print(d)

please enter a word pwskills
8

In [ ]:
#Write a code to concatenate two strings without using the + operator
m = input("please enter a word ")
n = input("please enter a word ")
print(f"{m} {n}")

please enter a word pw
please enter a word skills
pw skills

In [ ]:
# Write a code to remove all occurrences of a specific element from a list
lst = ["a", "a", "b","c","d","d"]
remove_occurrences = set(lst)
print(remove_occurrences)

{'a', 'c', 'd', 'b'}

In [ ]:
# Implement a code to find the second largest number in a given list of integers
ls = [1,5,10,9,45,31,87,92,105]
sort_ls = sorted(ls)
sort_ls[-2]

92

In [ ]:
# Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values

ls = [1,5,10,9,45,31,87,92,105]
dict ={}
count = 0
for i in ls:
  count += 1
  dict[i] = count
print(dict)

{1: 1, 5: 2, 10: 3, 9: 4, 45: 5, 31: 6, 87: 7, 92: 8, 105: 9}

In [ ]:
# Write a code to reverse a list in-place without using any built-in reverse functions
ls = [1,5,10,9,45,31,87,92,105]
ds = []
for i in ls:
    ds.insert(0, i)
print(ds)

[105, 92, 87, 31, 45, 9, 10, 5, 1]

In [ ]:
#Implement a code to find and remove duplicates from a list while preserving the original order of elements
ls = [1,5,10,9,45,1,31,87,92,45,105]
ds = []
for i in ls:
  if i not in ds:
    ds.append(i)
ds

[1, 5, 10, 9, 45, 31, 87, 92, 105]

In [ ]:
# Create a code to check if a given list is sorted (either in ascending or descending order) or not
ls = [1,5,10,9,45,31,87,92,105]

if ls == ls:
  print("The list is not sorted")
else:
  print("The list is sorted in ascending order or descending")

The list is not sorted

In [ ]:
#Write a code to merge two sorted lists into a single sorted list
ls = [1,5,10,9,45,31,87,92,105]
ls2 = [105, 92, 87, 31, 45, 9, 10, 5, 1]

ls.extend(ls2)
ls

[1, 5, 10, 9, 45, 31, 87, 92, 105, 105, 92, 87, 31, 45, 9, 10, 5, 1]

In [ ]:
#Implement a code to find the intersection of two given lists
ls = [1,5,10,9,45,31,87,92,105]
ls2 = [105, 92, 87, 31, 45, 9, 10, 5, 1]

list(set(ls) & set(ls2))

[1, 5, 105, 10, 9, 45, 87, 92, 31]

In [ ]:
#Create a code to find the union of two lists without duplicates
ls = [1,5,10,9,45,31,87,92,105]
ls2 = [105, 92, 87, 31, 45, 9, 10, 5, 1]

set.union(set(ls) , set(ls2))

{1, 5, 9, 10, 31, 45, 87, 92, 105}

In [ ]:
# Write a code to shuffle a given list randomly without using any built-in shuffle functions
ls = [1,5,10,9,45,31,87,92,105]
ds= []
for i in ls:
    if i %2 == 0:
      ds.insert(0, i)
    else:
      ds.insert(1, i)
ds

[92, 105, 10, 87, 31, 45, 9, 1, 5]

In [ ]:
#Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples
ls = [1,5,10,9,]
ls2 = [105, 92, 87, 31, 45, 9, 10, 5, 1]

tuple(set.intersection(set(ls) & set(ls2)))

(1, 10, 5, 9)

In [ ]:
#Create a code that prompts the user to enter two sets of integers. Then, print the intersection of these two sets
user_input1= input("enter integers separated by commas")
user_input2= input("enter integers separated by commas")

set1 = 0
user_combo1 = user_input1.split(",")
user_combo2 = user_input2.split(",")
ds=[]
ds2 = []
all = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', '0''!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '_', '+', '-', '=', '[', ']', '{', '}', '|', ':', ';', '<', '>', ',', '.', '?', '/']
closes = 0
for i in user_combo1:
    if i in all:
      closes +=0
      print("only sets of integers separated by commas are accepted")
    else:
      ins = int(i)
      ds.append(ins)
      set1 += 1

for i in user_combo2:
    if i in all:
      closes +=0
      print("only sets of integers separated by commas are accepted")
    else:
      ins = int(i)
      ds2.append(ins)
      set1 += 1

if set1 >= 1 and closes <=0:
  print(set.intersection(set(ds), set(ds2)))

enterintegers separated by commas1,5,10,2
enterintegers separated by commas105, 92, 87, 31, 45, 9, 10, 5, 1
{1, 10, 5}

In [ ]:
# Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples
user_input1= input("enter integers separated by commas")
user_input2= input("enter integers separated by commas")
user_combo1 = user_input1.split(",")
user_combo2 = user_input2.split(",")
new_tuple = tuple(user_combo1) + tuple(user_combo2)

enter integers separated by commas1,5,10,2
enter integers separated by commas1,5,10,2

In [ ]:
#Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set
user_input1= input("enter words separated by commas")
user_input2= input("enter words separated by commas")
user_input1_set = user_input1
user_input2_set = user_input2
print(set.difference(set(user_input1_set), set(user_input2_set)))

enter words separated by commasa,f,j
enter words separated by commasd,k,f
{'a', 'j'}

In [ ]:
#Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices

def specified_range(user_input1_t, ranges):
  das = []
  for i in user_input1_t:
      if len(das) <= ranges:
        das.append(i)
      else:
        break
  return tuple(das)



user_input1 = input("Enter numbers separated by commas to form a tuple: ")
enter_range = int(input("Enter the range: "))

user_input1s = []
for i in user_input1.split(","):
    user_input1s.append(int(i))
user_input1_t = tuple(user_input1s)
if enter_range < len(user_input1) or enter_range > len(user_input1):
    specified_range(user_input1_t, enter_range)
if 0 <= enter_range <= len(user_input1_t):
    new_tuple = specified_range(user_input1_t, enter_range)
    print("Original tuple:", user_input1_t)
    print("New tuple:", new_tuple)
else:
   print("Invalid indices. Please enter valid start and end indices.")

Enter numbers separated by commas to form a tuple: 10,20,30,40
Enter the range: 2
Original tuple: (10, 20, 30, 40)
New tuple: (10, 20, 30)

In [ ]:
#Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

set1_input = input("Enter the first set of characters separated by commas: ")
set2_input = input("Enter the second set of characters separated by commas: ")

set1 = set(set1_input.split(','))
set2 = set(set2_input.split(','))

union_set = set1.union(set2)

print("Union of the two sets:", union_set)

In [1]:
# Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking

def find_max_min(numbers):
    max_val = max(numbers)
    min_val = min(numbers)

    return max_val, min_val

find_max_min((3, 5, 1, 9, 2, 8))

(9, 1)

In [2]:
#Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print("Union:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

difference_set1 = set1.difference(set2)
print("Difference (set1 - set2):", difference_set1)

difference_set2 = set2.difference(set1)
print("Difference (set2 - set1):", difference_set2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

In [5]:
# Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple

def count_occurrences(tpl, element):
    return tpl.count(element)

count_occurrences((1, 2, 3, 4, 2, 2, 5, 2, 6), 2)

4

In [8]:
#Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets

set1 = input("Enter the first set of words separated by space: ")
set2 = input("Enter the second set of words separated by space: ")

set1 = set(set1.split())
set2 = set(set2.split())

set1.symmetric_difference(set2)

Enter the first set of words separated by space: apple banana orange
Enter the second set of words separated by space: orange grapes apple

{'banana', 'grapes'}

In [9]:
#Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list

def word_frequencies(word_list):
    frequency_dict = {}
    for word in word_list:
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1
    return frequency_dict

word_frequencies(["apple", "banana", "apple", "orange", "banana", "apple"])

{'apple': 3, 'banana': 2, 'orange': 1}

In [15]:
# Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together
def merge_dictionaries(dict1, dict2):
  dics = dict1
  for key, value in dict2.items():
    if key in dics:
      dics[key] = value + dics[key]
    else:
      dics[key] = value
  return dics

dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 3, 'c': 4, 'd': 5}

merge_dictionaries(dict1, dict2)

{'a': 1, 'b': 5, 'c': 7, 'd': 5}

In [17]:
#Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None

def get_nested_value(d, keys):
    for key in keys:
        if key in d:
            d = d[key]
        else:
            return None
    return d


nested_dict = {'a': {'b': {'c': 42}},
               'x': {'y': {'z': 99}}}
keys1 = ['a', 'b', 'c']
keys2 = ['x', 'y', 'z']

print(get_nested_value(nested_dict, keys1) )
print(get_nested_value(nested_dict, keys2) )

42
99

In [25]:
#Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order

def sort_dict_by_values(d):
    ds = []
    sorted_items = {}
    for key, value in d.items():
        ds.append(value)
    ds.sort()
    for value in ds:
        for key, val in d.items():
            if val == value:
                sorted_items[key] = value
                break
    return sorted_items

sort_dict_by_values({'apple': 3, 'banana': 1, 'cherry': 2, 'date': 4})

{'banana': 1, 'cherry': 2, 'apple': 3, 'date': 4}

In [23]:
#Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary

def invert_dictionary(d):
    inverted_dict = {}
    for key, value in d.items():
        if value in inverted_dict:
            inverted_dict[value].append(key)
        else:
            inverted_dict[value] = [key]
    return inverted_dict

invert_dictionary({'a': 1, 'b': 2, 'c': 1, 'd': 3})

{1: ['a', 'c'], 2: ['b'], 3: ['d']}